{
  "name": "halongbay",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "src/templates/v1/sass/app.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/css/app.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "src/templates/v1/js/app.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/js/app-dist.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/templates/v1/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/templates/v1/html/home.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/html/home.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "dist/templates/v1/css/bootstrap.min.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/templates/v1/html/cruise-list.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/html/cruise-list.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/modules/home-hero.pug",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/modules/home-sub-banner.pug",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"dist/modules/home-sub-banner.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/templates/v1/html/main.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/html/main.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/templates/v1/css/imports/_cat.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "src/templates/v1/js/pages/cruisecat.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/js/pages/cruisecat-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/templates/v1/js/pages/home.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/js/pages/home-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/templates/v1/js/pages/search.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/js/pages/search-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/templates/v1/html/find-a-cruise.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/html/find-a-cruise.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/templates/v1/js/pages/_category.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/js/pages/_category-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/templates/v1/sass/cruise.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/css/cruise.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "src/templates/v1/html/newest-cruises.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/html/newest-cruises.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/templates/v1/html/luxury-cruises.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/html/luxury-cruises.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/templates/v1/html/deluxe-cruises.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/html/deluxe-cruises.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/templates/v1/html/superior-cruises.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/html/superior-cruises.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/templates/v1/js/pages/best.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/js/pages/best-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/templates/v1/sass/packages.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/css/packages.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "src/templates/v1/js/pages/tour.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/js/pages/tour-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/templates/v1/sass/article.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/css/article.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "src/templates/v1/js/pages/news.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/js/pages/news-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/templates/v1/sass/faqs.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/css/faqs.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "src/templates/v1/sass/contact.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/css/contact.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "src/templates/v1/js/pages/contact.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/js/pages/contact-dist.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/templates/v1/js/pages/cruisedetail.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/js/pages/cruisedetail-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/templates/v1/js/pages/halong.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/js/pages/halong-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/templates/v1/sass/cruise-detail.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/templates/v1/css/cruise-detail.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "src",
      "src/templates",
      "src/templates/v1/js",
      "dist/templates",
      "dist",
      "dist/templates/v1",
      "src/templates/v1",
      "src/templates/v1/css",
      "src/templates/v1/html",
      "src/templates/v1/sass"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "src/templates/v1/index.pug",
      "imports": [
        "src/templates/v1/layouts/head.pug",
        "src/templates/v1/layouts/header.pug",
        "src/templates/v1/layouts/header-top.pug",
        "src/templates/v1/layouts/header-mobile.pug",
        "src/templates/v1/layouts/menu-mobile-fixed.pug",
        "src/templates/v1/layouts/footer.pug",
        "src/templates/v1/includes/google_scripts.pug"
      ]
    },
    {
      "path": "src/templates/v1/html/best-sellers.pug",
      "imports": [
        "src/templates/v1/index.pug",
        "src/templates/v1/layouts/head.pug",
        "src/templates/v1/layouts/header.pug",
        "src/templates/v1/layouts/header-top.pug",
        "src/templates/v1/layouts/header-mobile.pug",
        "src/templates/v1/layouts/menu-mobile-fixed.pug",
        "src/templates/v1/layouts/footer.pug",
        "src/templates/v1/includes/google_scripts.pug"
      ]
    },
    {
      "path": "src/templates/v1/html/contact-us.pug",
      "imports": [
        "src/templates/v1/index.pug",
        "src/templates/v1/layouts/head.pug",
        "src/templates/v1/layouts/header.pug",
        "src/templates/v1/layouts/header-top.pug",
        "src/templates/v1/layouts/header-mobile.pug",
        "src/templates/v1/layouts/menu-mobile-fixed.pug",
        "src/templates/v1/layouts/footer.pug",
        "src/templates/v1/includes/google_scripts.pug"
      ]
    },
    {
      "path": "src/templates/v1/html/cruise-list.pug",
      "imports": [
        "src/templates/v1/index.pug",
        "src/templates/v1/layouts/head.pug",
        "src/templates/v1/layouts/header.pug",
        "src/templates/v1/layouts/header-top.pug",
        "src/templates/v1/layouts/header-mobile.pug",
        "src/templates/v1/layouts/menu-mobile-fixed.pug",
        "src/templates/v1/layouts/footer.pug",
        "src/templates/v1/includes/google_scripts.pug"
      ]
    },
    {
      "path": "src/templates/v1/html/day-cruises.pug",
      "imports": [
        "src/templates/v1/index.pug",
        "src/templates/v1/layouts/head.pug",
        "src/templates/v1/layouts/header.pug",
        "src/templates/v1/layouts/header-top.pug",
        "src/templates/v1/layouts/header-mobile.pug",
        "src/templates/v1/layouts/menu-mobile-fixed.pug",
        "src/templates/v1/layouts/footer.pug",
        "src/templates/v1/includes/google_scripts.pug"
      ]
    },
    {
      "path": "src/templates/v1/html/deluxe-cruises.pug",
      "imports": [
        "src/templates/v1/index.pug",
        "src/templates/v1/layouts/head.pug",
        "src/templates/v1/layouts/header.pug",
        "src/templates/v1/layouts/header-top.pug",
        "src/templates/v1/layouts/header-mobile.pug",
        "src/templates/v1/layouts/menu-mobile-fixed.pug",
        "src/templates/v1/layouts/footer.pug",
        "src/templates/v1/includes/google_scripts.pug"
      ]
    },
    {
      "path": "src/templates/v1/html/detail-cruise.pug",
      "imports": [
        "src/templates/v1/index.pug",
        "src/templates/v1/layouts/head.pug",
        "src/templates/v1/layouts/header.pug",
        "src/templates/v1/layouts/header-top.pug",
        "src/templates/v1/layouts/header-mobile.pug",
        "src/templates/v1/layouts/menu-mobile-fixed.pug",
        "src/templates/v1/layouts/footer.pug",
        "src/templates/v1/includes/google_scripts.pug"
      ]
    },
    {
      "path": "src/templates/v1/html/family-cruises.pug",
      "imports": [
        "src/templates/v1/index.pug",
        "src/templates/v1/layouts/head.pug",
        "src/templates/v1/layouts/header.pug",
        "src/templates/v1/layouts/header-top.pug",
        "src/templates/v1/layouts/header-mobile.pug",
        "src/templates/v1/layouts/menu-mobile-fixed.pug",
        "src/templates/v1/layouts/footer.pug",
        "src/templates/v1/includes/google_scripts.pug"
      ]
    },
    {
      "path": "src/templates/v1/html/faqs.pug",
      "imports": [
        "src/templates/v1/index.pug",
        "src/templates/v1/layouts/head.pug",
        "src/templates/v1/layouts/header.pug",
        "src/templates/v1/layouts/header-top.pug",
        "src/templates/v1/layouts/header-mobile.pug",
        "src/templates/v1/layouts/menu-mobile-fixed.pug",
        "src/templates/v1/layouts/footer.pug",
        "src/templates/v1/includes/google_scripts.pug"
      ]
    },
    {
      "path": "src/templates/v1/html/find-a-cruise.pug",
      "imports": [
        "src/templates/v1/index.pug",
        "src/templates/v1/layouts/head.pug",
        "src/templates/v1/layouts/header.pug",
        "src/templates/v1/layouts/header-top.pug",
        "src/templates/v1/layouts/header-mobile.pug",
        "src/templates/v1/layouts/menu-mobile-fixed.pug",
        "src/templates/v1/layouts/footer.pug",
        "src/templates/v1/includes/google_scripts.pug"
      ]
    },
    {
      "path": "src/templates/v1/html/home.pug",
      "imports": [
        "src/templates/v1/index.pug",
        "src/modules/home-hero.pug",
        "src/modules/home-sub-banner.pug",
        "src/templates/v1/layouts/head.pug",
        "src/templates/v1/layouts/header.pug",
        "src/templates/v1/layouts/header-top.pug",
        "src/templates/v1/layouts/header-mobile.pug",
        "src/templates/v1/layouts/menu-mobile-fixed.pug",
        "src/templates/v1/layouts/footer.pug",
        "src/templates/v1/includes/google_scripts.pug"
      ]
    },
    {
      "path": "src/templates/v1/html/honeymoon-cruises.pug",
      "imports": [
        "src/templates/v1/index.pug",
        "src/templates/v1/layouts/head.pug",
        "src/templates/v1/layouts/header.pug",
        "src/templates/v1/layouts/header-top.pug",
        "src/templates/v1/layouts/header-mobile.pug",
        "src/templates/v1/layouts/menu-mobile-fixed.pug",
        "src/templates/v1/layouts/footer.pug",
        "src/templates/v1/includes/google_scripts.pug"
      ]
    },
    {
      "path": "src/templates/v1/html/luxury-cruises.pug",
      "imports": [
        "src/templates/v1/index.pug",
        "src/templates/v1/layouts/head.pug",
        "src/templates/v1/layouts/header.pug",
        "src/templates/v1/layouts/header-top.pug",
        "src/templates/v1/layouts/header-mobile.pug",
        "src/templates/v1/layouts/menu-mobile-fixed.pug",
        "src/templates/v1/layouts/footer.pug",
        "src/templates/v1/includes/google_scripts.pug"
      ]
    },
    {
      "path": "src/templates/v1/html/main.pug",
      "imports": [
        "src/templates/v1/index.pug",
        "src/modules/main-inner-hero.pug",
        "src/modules/main-sub-banner.pug",
        "src/templates/v1/layouts/head.pug",
        "src/templates/v1/layouts/header.pug",
        "src/templates/v1/layouts/header-top.pug",
        "src/templates/v1/layouts/header-mobile.pug",
        "src/templates/v1/layouts/menu-mobile-fixed.pug",
        "src/templates/v1/layouts/footer.pug",
        "src/templates/v1/includes/google_scripts.pug"
      ]
    },
    {
      "path": "src/templates/v1/html/newest-cruises.pug",
      "imports": [
        "src/templates/v1/index.pug",
        "src/templates/v1/layouts/head.pug",
        "src/templates/v1/layouts/header.pug",
        "src/templates/v1/layouts/header-top.pug",
        "src/templates/v1/layouts/header-mobile.pug",
        "src/templates/v1/layouts/menu-mobile-fixed.pug",
        "src/templates/v1/layouts/footer.pug",
        "src/templates/v1/includes/google_scripts.pug"
      ]
    },
    {
      "path": "src/templates/v1/html/private-cruises.pug",
      "imports": [
        "src/templates/v1/index.pug",
        "src/templates/v1/layouts/head.pug",
        "src/templates/v1/layouts/header.pug",
        "src/templates/v1/layouts/header-top.pug",
        "src/templates/v1/layouts/header-mobile.pug",
        "src/templates/v1/layouts/menu-mobile-fixed.pug",
        "src/templates/v1/layouts/footer.pug",
        "src/templates/v1/includes/google_scripts.pug"
      ]
    },
    {
      "path": "src/templates/v1/html/superior-cruises.pug",
      "imports": [
        "src/templates/v1/index.pug",
        "src/templates/v1/layouts/head.pug",
        "src/templates/v1/layouts/header.pug",
        "src/templates/v1/layouts/header-top.pug",
        "src/templates/v1/layouts/header-mobile.pug",
        "src/templates/v1/layouts/menu-mobile-fixed.pug",
        "src/templates/v1/layouts/footer.pug",
        "src/templates/v1/includes/google_scripts.pug"
      ]
    },
    {
      "path": "src/templates/v1/html/tour-packages.pug",
      "imports": [
        "src/templates/v1/index.pug",
        "src/templates/v1/layouts/head.pug",
        "src/templates/v1/layouts/header.pug",
        "src/templates/v1/layouts/header-top.pug",
        "src/templates/v1/layouts/header-mobile.pug",
        "src/templates/v1/layouts/menu-mobile-fixed.pug",
        "src/templates/v1/layouts/footer.pug",
        "src/templates/v1/includes/google_scripts.pug"
      ]
    },
    {
      "path": "src/templates/v1/html/trip-planning.pug",
      "imports": [
        "src/templates/v1/index.pug",
        "src/templates/v1/layouts/head.pug",
        "src/templates/v1/layouts/header.pug",
        "src/templates/v1/layouts/header-top.pug",
        "src/templates/v1/layouts/header-mobile.pug",
        "src/templates/v1/layouts/menu-mobile-fixed.pug",
        "src/templates/v1/layouts/footer.pug",
        "src/templates/v1/includes/google_scripts.pug"
      ]
    },
    {
      "path": "src/templates/v1/js/app.js",
      "imports": [
        "src/templates/v1/js/libs/jquery.lazyload.min.js",
        "src/templates/v1/js/libs/holder.min.js",
        "src/templates/v1/js/libs/moment.min.js",
        "src/templates/v1/js/libs/owl.carousel.min.js",
        "src/templates/v1/js/bootstrap.min.js",
        "src/templates/v1/js/libs/jquery.sticky.js",
        "src/templates/v1/js/libs/pikaday.js",
        "src/templates/v1/js/libs/scripts.js"
      ]
    },
    {
      "path": "src/templates/v1/sass/app.scss",
      "imports": [
        "src/templates/v1/sass/imports/_owl_carousel.scss",
        "src/templates/v1/sass/imports/_core.scss",
        "src/templates/v1/sass/imports/_home.scss",
        "src/templates/v1/sass/imports/_cat.scss",
        "src/templates/v1/sass/imports/_best_cruise.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7884,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"relative\":\"../../../../dist/templates/v1/html\"},\"outputSuffix\":null}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"relative\":\"../../../../dist/templates/v1/js/\"}}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}