// sub-banner
.sub-banner.bg-default
    .container
        ul.list-inline.text-center
            li.sons
                span.fa.fa-check
                | 				What's so great about
                br
                |  HalongBayTours
                i.fa.fa-caret-right.z_18.text-middle.hidden-lg.hidden-md
            li.son
                | HANDPICKED
                strong TOURS & ACTIVITIES
            li.son
                | 100% BEST PRICE
                strong GUARANTEED
            li.son
                | No Credit Card Fee
                strong Save 4% total value
// End sub-banner
