.cat-banner
    img.hidden-xs(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/skins/v3/images/cruises/best-cruise-banner.jpg', alt='')
    .breadcrumb-main
        .container
            ol.breadcrumb
                li
                    a(href='/') Home
                li
                    a(href='/cruises/find-a-cruise.html') Find a cruise
                li Best Cruises 2017
    h1.z_24.f_hn.text-bold(style='left: 366.5px;') Best of 2017