// footer
footer.footer
    .ft-top
        .container
            span.z_20 Have any questions? Please contact us
            span.img-arrow
            a.btn.btn-default.text-uppercase(href='/contact-us.html') Contact us
            span.ft-key.z_12 Don't worry, we won't share your details with anyone else
    .ft-cruises
        .container
            .ft-cruises-head
                label.tg-cruise.pull-left
                    | Browse Cruises
                    span.fa.fa-angle-double-down
                ul.list-inline.pull-right.list-socials
                    li
                        a.fa.fa-facebook-square(href='https://plus.google.com/109101142750974585076/about', rel='nofollow', target='_blank')
                    li
                        i.fa.fa-twitter-square
                    li
                        i.fa.fa-google-plus-square
                    li
                        a.fa.fa-youtube-square(href='https://www.youtube.com/user/bluedragontours', rel='nofollow', target='_blank')
            .ft-cruises-body
                table.table
                    tbody
                        tr
                            td
                                a(href='/cruises/luxury-cruises.html') Luxury Cruises
                            td
                                a(href='/cruise/violet-cruise.html') Violet Cruise
                                a(href='/cruise/syrena-cruise.html') Syrena Cruise
                                a(href='/cruise/paradise-cruise.html') Paradise Luxury Cruise
                                a(href='/cruise/indochina-sails-cruise.html') Indochina Sails Cruise
                                a(href='/cruise/jasmine-cruise.html') Jasmine Cruise
                                a(href='/cruise/bhaya-cruise.html') Bhaya Cruises
                                a(href='/cruise/emeraude-cruise.html') Emeraude Cruise
                                a(href='/cruise/paradise-peak-cruise.html') Paradise Peak Cruise
                                a(href='/cruise/valentine-cruise.html') Valentine Cruise
                                a(href='/cruise/au-co-cruise.html') Au Co Cruise
                                a(href='/cruise/pelican-cruise.html') Pelican Cruise
                                a(href='/cruise/starlight-cruise.html') Starlight Cruise
                                a(href='/cruise/signature-cruise.html') Signature Cruise
                                a(href='/cruise/aphrodite-cruise.html') Aphrodite Cruise
                                a(href='/cruise/dragon-legend-cruise.html') Dragon Legend Cruise
                                a(href='/cruise/stellar-cruise.html') Stellar Cruise
                                a(href='/cruise/la-vela-premium.html') La Vela Premium
                                a(href='/cruise/paradise-luxury-elegance.html') Paradise Elegance Cruise
                                a(href='/cruise/orchid-cruise.html') Orchid Cruise
                                a(href='/cruise/royal-wings-cruise.html') Royal Wings Cruise
                                a(href='/cruise/royal-signature-cruise.html') Signature Royal Cruise
                                a(href='/cruise/hera-cruise.html') Hera Cruise
                                a(href='/cruise/azalea-cruise.html') Azalea Cruise
                                a(href='/cruise/bhaya-classic-premium-cruise.html') Bhaya Classic Premium Cruise
                        tr
                            td
                                a(href='/cruises/deluxe-cruises.html') Mid-Range Cruises
                            td
                                a(href='/cruise/glory-cruise.html') Glory Legend Cruise
                                a(href='/cruise/calypso-cruise.html') Calypso Cruise
                                a(href='/cruise/paloma-cruise.html') Paloma Cruise
                                a(href='/cruise/dragon-pearl-junks.html') Dragon Pearl Junks
                                a(href='/cruise/white-dolphin-cruise.html') Petit White Dolphin Cruise
                                a(href='/cruise/red-dragon-cruise.html') Red Dragon Cruise
                                a(href='/cruise/vela-classic.html') La Vela Classic Cruise
                                a(href='/cruise/huong-hai-junk.html') Huong Hai Junk
                                a(href='/cruise/victory-star-cruise.html') Victory Star Cruise
                                a(href='/cruise/ginger-cruise.html') Ginger Cruise
                                a(href='/cruise/prince-cruise.html') Prince Cruise
                                a(href='/cruise/grayline-cruise.html') Gray Line Cruise
                                a(href='/cruise/lafairy-sails.html') LaFairy Sails
                                a(href='/cruise/oasis-bay-cruise.html') Oasis Bay Cruise
                                a(href='/cruise/amira-cruise.html') Amira Cruise
                                a(href='/cruise/lazalee-cruise.html') L'Azalee Cruise
                                a(href='/cruise/carina-cruise.html') Carina Cruise
                                a(href='/cruise/alisa-cruise.html') Alisa Cruise
                        tr
                            td
                                a(href='/cruises/superior-cruises.html') Budget Cruises
                            td
                                a(href='/cruise/oriental-sails.html') Oriental Sails
                                a(href='/cruise/phoenix-cruise.html') Phoenix Cruise
                                a(href='/cruise/aclass-cruise.html') Aclass Legend Cruise
                                a(href='/cruise/annam-junk.html') Annam Junk
                                a(href='/cruise/vspirit-cruises.html') V'Spirit Cruises
                                a(href='/cruise/halong-party-cruise.html') Halong Party Cruise
                                a(href='/cruise/flamingo-cruise.html') Flamingo Cruise
                        tr
                            td
                                a(href='/cruises/day-cruises.html') Day Cruises
                            td
                                a(href='/day-cruise/phoenix-day-cruise.html') Phoenix Day Cruise
                                a(href='/day-cruise/alova-day-cruise.html') Alova Day Cruise
                                a(href='/day-cruise/lazalee-day-cruise.html') L'Azalée Day Cruise
                        tr
                            td
                                a(href='/cruises/private-cruises.html') Private Cruises
                            td
                                a(href='/private/princess-junk-cruise.html') L'Amour Junk Private Charter
                                a(href='/private/bhaya-legend-cruise.html') Legend Halong Private Charter
                                a(href='/private/au-co-private-charter-cruise.html') Au Co Private Charter Cruise
                                a(href='/private/glory-legend-private-charter-cruise.html') Glory Legend Private Charter Cruise
                                a(href='/private/paradise-luxury-private-charter-cruise.html') Paradise Luxury Private Charter Cruise
                                a(href='/private/paradise-peak-private-charter-cruise.html') Paradise Peak Private Charter Cruise
                                a(href='/private/pelican-luxury-private-charter-cruise.html') Pelican Luxury Private Charter Cruise
                                a(href='/private/signature-cruise-private-charter.html') Signature Cruise Private Charter
                                a(href='/private/lazalee-private-charter.html') L'Azalee Private Charter
    .footer-body
        .container
            hr
            .row
                .col-md-4.col-sm-12.first
                    .ca-ft-info
                        .item
                            .logo-ft.inline-block
                                img(src='../images/logo.svg', alt='HalongbayTours.com')
                            p
                                | Halongbaytours.com is a premium cruise and tour booking service offered by Blue Dragon Tours. Here on our website you can find listings of the best selected cruises of Halong Bay, one of the UNESCO World's Natural Heritage.
                        .item
                            p
                                i.fa.fa-phone.c2a
                                |  Hotline:
                                strong.inline-block.z_24.c2a.f_hn +84.946.505.505
                            p
                                a(href='mailto:info@halongbaytours.com') info@halongbaytours.com
                        .item
                            p
                                strong.z_16.text-bold.block Sign up for our free newsletter
                                | 								Receive news and offers from Halong Bay Tours
                            .input-group.navbar-form-ft
                                input#email-home.form-control(type='text', placeholder='Enter your email address')
                                span.input-group-btn
                                    button.btn.btn-primary.btn-newletter(type='button')
                                        span.fa.fa-send
                .col-md-2.col-sm-3.col-xs-6
                    dl
                        dt General
                        dd
                            a(href='/page/about-us.html') About Us
                        dd
                            a(href='/page/our-team.html') Our Team
                        dd
                            a(href='/page/why-book-with-us.html') Why us
                        dd
                            a(href='/page/our-price-guarantee.html') Best Price Policy
                        dd
                            a(href='/testimonials.html') Customer Testimonials
                        dd
                            a(href='/page/terms-of-use.html') Terms & Conditions
                        dd
                            a(href='/contact-us.html') Contact Us
                .col-md-2.col-sm-3.col-xs-6
                    dl
                        dt TRIP PLANNING
                        dd
                            a(href='/faqs.html') FAQs
                        dd
                            a(href='/trip-planning/weather.html') Weather
                        dd
                            a(href='/trip-planning/travel-updates.html') Travel Updates
                        dd
                            a(href='/page/brochures.html') Download Brochures
                        dd
                            a(href='/trip-planning/prepare-go/visa-immigration-documents.html') Visa & Immigration
                .col-md-4.col-sm-6.col-xs-12.last
                    dl.dlast
                        dt Contact Information
                        dd
                            p
                                i.fa.fa-home
                                |  72 Hang Trong, Hoan Kiem, Hanoi, Vietnam
                            p
                                i.fa.fa-phone
                                |  +84-43577-2907
                            p
                                i.fa.fa-fax
                                |  +84-43577-2908
                            p
                                i.fa.fa-envelope-o
                                |  info@halongbaytours.com
                            p
                                i.fa.fa-copyright
                                |  2016 Blue Dragon Tours, All Rights Reserved.
                                br
                                | 								International Tour Operator Licence No: 001-500/TCDL
                                br
                                | 								PATA Member Number:
                                a(href='http://www.patamanager.org/Members/7375', rel='nofollow', target='_blank') 7375
    .ft-bottom.bg-default
        .container
            ul.list-inline.pull-left.box-hidden
                li
                    i.ic.ic-logo-vietnam
                li
                    a(href='http://www.patamanager.org/Members/7375', rel='nofollow', target='_blank')
                        i.ic.ic-logo-pata
                li
                    a(href='https://www.tripadvisor.com/Attraction_Review-g293924-d8467703-Reviews-Blue_Dragon_Tours_Day_Tours-Hanoi.html', rel='nofollow', target='_blank')
                        i.ic.ic-logo-tripad
                li
                    #thawteseal(style='text-align:center;', title='Click to Verify - This site chose Thawte SSL for secure e-commerce and confidential communications.')
                        div
                            script(type='text/javascript', src='https://seal.thawte.com/getthawteseal?host_name=www.halongbaytours.com&size=S&lang=en')
                            a(href='https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&dn=WWW.HALONGBAYTOURS.COM&lang=en', tabindex='-1', onmousedown='return v_mDown(event);', target='THAWTE_Splash')
                                img(name='seal', border='true', src='https://seal.thawte.com/getthawteseal?at=0&sealid=2&dn=WWW.HALONGBAYTOURS.COM&lang=en&gmtoff=-420', oncontextmenu='return false;', alt='Click to Verify - This site has chosen a thawte SSL Certificate to improve Web site security')
            ul.pull-right.logo-bank
                li
                    i
                li
                    i
                li
                    i
                li
                    i
                li
                    i
                li
                    i
                li
                    i
    .ft-main-mb.text-center
        ul.list-links
            li
                a(href='/page/about-us.html') About Us
            li
                a(href='/page/our-price-guarantee.html') Best Price Policy
            li
                a(href='/page/our-team.html') Our Team
            li
                a(href='/testimonials.html') Customer Testimonials
            li
                a(href='/page/why-book-with-us.html') Why us
            li
                a(href='/contact-us.html') Contact us
        ul.list-inline.list-socials
            li
                a.fa.fa-facebook-square(href='https://plus.google.com/109101142750974585076/about', rel='nofollow', target='_blank')
            li
                i.fa.fa-twitter-square
            li
                i.fa.fa-google-plus-square
            li
                a.fa.fa-youtube-square(href='https://www.youtube.com/user/bluedragontours', rel='nofollow', target='_blank')
// End footer

script(type='text/javascript', src='../js/jquery.min.js')
script(type='text/javascript', src='../js/app-dist.js')
