
<!-- Header Mobile-->
<header class="header-mobile bg-default hidden-lg hidden-md">
  <div class="container-fluid"><a class="logo inline-block navbar-left" href="/"><img src="/skins/v3/images/logo.svg" alt="Halong Bay Tours"/></a>
    <div class="hl-header hl-bars hidden-lg hidden-md"><span class="fa fa-bars"></span></div>
    <div class="btn-wishlist-mobile" id="btn-wishlist-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-heart z_18"></span><sup class="red-badge lblwishlist">1</sup></div>
    <div class="sub-wishlist sub-wishlist-1 dropdown-menu" aria-labelledby="btn-wishlist-1">
      <div class="resultwishlist">
        <div class="media"><a class="pull-left" href="/tour-package/package-mercure-hotel-aphrodite-cruise.html"><img src="/upload/tour/admin/2016/07/Aphrodite_2_small.jpg" alt="Summer Sizzling Deal: Mercure Hotel + Aphrodite Cruise"/></a>
          <div class="media-body">
            <h5 class="media-heading"><a href="/tour-package/package-mercure-hotel-aphrodite-cruise.html">Summer Sizzling Deal: Mercure Hotel + Aphrodite Cruise</a></h5>
            <label class="rate-1"><span style="width:80%;"></span></label>
            <div class="price">Price from<strong class="block z_18"><sup class="text-normal z_12">USD</sup>250</strong></div>
          </div>
        </div>
      </div>
      <p class="text-center"><a class="view-more" href="/wishlist.html">View My wishlist</a></p>
    </div>
  </div>
</header>
<!-- End Header Mobile-->