head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='format-detection', content='telephone=no')
    meta(name='description', content='Over 100 Halong bay cruise & tour packages with best price guarantee. Get discounts on mid-range, luxury, boutique and family overnight cruises in Halong. Book today & save!')
    title
        | Halong Bay Tours & Cruises - Overnight Junk Boat Packages 2017/2018 | HalongBayTours.com
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
      script(src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
    link(href='../css/bootstrap.min.css', media='screen', rel='stylesheet', type='text/css')
    link(href='../css/fonts/font-awesome.min.css', media='screen', rel='stylesheet', type='text/css')
    block page_style_b
    link(href='../css/app.css', media='screen', rel='stylesheet', type='text/css')
    block page_style
    link(href='https://www.company.com', rel='canonical')
