
<!-- Header fix top-->
<div class="header-fix-top hidden-sm hidden-xs">
  <div class="container">
    <div class="table-block">
      <div class="sub-search-top">
        <form method="post" action="/search.html">
          <div class="form-group has-feedback">
            <input class="form-control" type="text" placeholder="What would you like to find?" name="keyword"/>
            <button class="btn btn-default"><span class="fa fa-search"></span></button>
          </div><span class="d-close"></span>
        </form>
        <ul class="list-related">
          <li><a href="/cruises/find-a-cruise.html">Looking for cruises?</a></li>
          <li><a href="/cruises/find-a-cruise.html">Start your search here</a></li>
          <li><a href="/wishlist.html">View your favourite cruises</a></li>
        </ul>
      </div>
      <ul class="logo-cruises pull-left">
        <li><a href="/cruise/paradise-cruise.html" title="Paradise Cruises"><span class="img paradise"></span><span class="name">Paradise Cruises</span></a></li>
        <li><a href="/indochina-junks.html" title="Indochina Junk"><span class="img indochina"></span><span class="name">Indochina Junk</span></a></li>
        <li><a href="/cruise/aphrodite-cruise.html" title="Aphrodite Cruises"><span class="img aphrodite"></span><span class="name">Aphrodite Cruises</span></a></li>
      </ul>
      <ul class="top-links pull-right">
        <li class="temp"><a href="/trip-planning/weather.html"><i class="iw iw-tstorms"></i><span class="inline-block text-middle">30°C</span></a></li>
        <li class="heart dropdown hide-500"><a id="d_wishlist" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-heart z_18"></span><sup class="red-badge lblwishlist">1</sup> My wishlist<i class="fa fa-angle-down"></i></a>
          <div class="sub-wishlist dropdown-menu" aria-labelledby="d_wishlist">
            <div class="resultwishlist">
              <div class="media"><a class="pull-left" href="/tour-package/package-mercure-hotel-aphrodite-cruise.html"><img src="/upload/tour/admin/2016/07/Aphrodite_2_small.jpg" alt="Summer Sizzling Deal: Mercure Hotel + Aphrodite Cruise"/></a>
                <div class="media-body">
                  <h5 class="media-heading"><a href="/tour-package/package-mercure-hotel-aphrodite-cruise.html">Summer Sizzling Deal: Mercure Hotel + Aphrodite Cruise</a></h5>
                  <label class="rate-1"><span style="width:80%;"></span></label>
                  <div class="price">Price from<strong class="block z_18"><sup class="text-normal z_12">USD</sup>250</strong></div>
                </div>
              </div>
            </div>
            <p class="text-center"><a class="view-more" href="/wishlist.html">View My wishlist</a></p>
          </div>
        </li>
        <li><a href="/page/about-us.html">Who we are</a></li>
        <li><a href="/promotion.html">Deals<sup class="red-badge">11</sup></a></li>
        <li class="dropdown"><a id="language" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe"></i> English<i class="fa fa-angle-down"></i></a>
          <div class="sub-language dropdown-menu" aria-labelledby="language">
            <ul class="list-languages">
              <li><i class="fa fa-globe"></i> International</li>
            </ul>
          </div>
        </li>
        <li class="hbt-search-top"><a class="ef-search text-center"><span class="fa fa-search"></span></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- End Header fix top-->