// Header
header.header.hidden-sm.hidden-xs
    .container
        a.logo.inline-block.navbar-left(href='#')
            img(src='../images/logo.svg', alt='Halong Bay Tours')
        ul.nav-menu.navbar-right
            li
                a(href='find-a-cruise.html') Find a cruise
                ul.sub-menu
                    li
                        a(href='newest-cruises.html') Newest Cruises
                    li
                        a(href='luxury-cruises.html') Luxury Cruises
                    li
                        a(href='deluxe-cruises.html') Mid-Range Cruises
                    li
                        a(href='superior-cruises.html') Budget Cruises
                    li
                        a(href='best-sellers.html') Best Cruises 2017
                    li
                        a(href='day-cruises.html') Day Cruises
                    li
                        a(href='private-cruises.html') Private Cruises
                    li
                        a(href='family-cruises.html') Family Cruises
                    li
                        a(href='honeymoon-cruises.html') Honeymoon Cruises
                    li
                        a(href='find-a-cruise.html') All Cruises (81)
            li
                a(href='tour-packages.html') Cruise Packages
            li
                a(href='private-cruises.html') Private Cruises
            li
                a(href='best-sellers.html') Best of 2017
            li
                a(href='trip-planning.html') Trip Planning
                ul.sub-menu
                    li
                        a(href='faqs.html') FAQs
                    li
                        a(href='/destinations.html') Destinations
                    li
                        a(href='/destinations/halong-bay.html') Halong Bay
                    li
                        a(href='/trip-planning/weather.html') Halong Weather
                    li
                        a(href='/interactive-map.html') Interactive Map
                    li
                        a(href='/trip-planning/best-time-to-visit.html') When to go
                    li
                        a(href='/trip-planning/travel-updates.html') Travel Updates
            li
                a
                    | More
                    i.fa.fa-angle-down
                ul.sub-menu
                    li
                        a(href='/transfers.html') Private Transfers
                    li
                        a(href='/activities.html') Activities
                    li
                        a(href='/itineraries.html') Cruise Itineraries
                    li
                        a(href='/page/brochures.html') 2017 Brochures
                    li
                        a(href='/testimonials.html') Testimonials
            li.inquiry
                a(href='contact-us.html') Contact Us
            li.phone.text-bold
                a(href='#')
                    span.fa.fa-phone.z_24
                    |  +84.946.505.505
// End Header