// Menu mobile fixed
.menu-fixed
    .box-nav-control
        .close-menu-fixed
        ul.wishlist-fixed.list-inline
            li
                a(href='javascript:void(0)')
                    span.fa.fa-heart.z_18
                    sup.red-badge.lblwishlist 1
                    |  My wishlist
                    i.fa.fa-angle-down
            li
                a(href='/promotion.html')
                    | Deals
                    sup.red-badge 11
        .sub-wishlist.sub-wishlist-2(style='display: none;')
            .resultwishlist
                .media
                    a.pull-left(href='/tour-package/package-mercure-hotel-aphrodite-cruise.html')
                        img(src='../images/Aphrodite_2_small.jpg', alt='Summer Sizzling Deal: Mercure Hotel + Aphrodite Cruise')
                    .media-body
                        h5.media-heading
                            a(href='/tour-package/package-mercure-hotel-aphrodite-cruise.html') Summer Sizzling Deal: Mercure Hotel + Aphrodite Cruise
                        label.rate-1
                            span(style='width:80%;')
                        .price
                            | Price from
                            strong.block.z_18
                                sup.text-normal.z_12 USD
                                | 250
            p.text-center
                a.view-more(href='/wishlist.html') View My wishlist
    .box-nav-top
        form(method='post', action='/search.html')
            .form-group.has-feedback
                input.form-control(type='text', placeholder='What would you like to find?', name='keyword')
                button.btn.btn-default
                    span.fa.fa-search
        ul.logo-cruises
            li
                a(href='/cruise/paradise-cruise.html', title='Paradise Cruises')
                    span.img.paradise
                    span.name Paradise Cruises
            li
                a(href='/indochina-junks.html', title='Indochina Junk')
                    span.img.indochina
                    span.name Indochina Junk
            li
                a(href='/cruise/aphrodite-cruise.html', title='Aphrodite Cruises')
                    span.img.aphrodite
                    span.name Aphrodite Cruises
        ul.top-links-xs
            li.temp
                a(href='/trip-planning/weather.html')
                    i.iw.iw-tstorms
                    span.inline-block.text-middle 30°C
            li
                a(href='/page/about-us.html') Who we are
            li
                a(href='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/doc/HaLong_Bay_Cruise_Guide_2017.pdf') Brochures 2017
            li.dropdown-language
                a(href='javascript:void(0)')
                    i.fa.fa-globe.z_18.text-middle
                    |  English
                    i.fa.fa-angle-down
                ul.list-languages
                    li
                        i.fa.fa-globe
                        |  International
    .box-nav-links.bg-default
        ul.nav-links-inner
            li.dropdown-links
                a.more(href='/cruises/find-a-cruise.html')
                    | Find a cruise
                    i.fa-angle-down.fa
                ul.sub-nav-links
                    li
                        a(href='/cruises/newest-cruises.html') Newest Cruises
                    li
                        a(href='/cruises/luxury-cruises.html') Luxury Cruises
                    li
                        a(href='/cruises/deluxe-cruises.html') Mid-Range Cruises
                    li
                        a(href='/cruises/superior-cruises.html') Budget Cruises
                    li
                        a(href='/cruises/best-sellers.html') Best Cruises 2017
                    li
                        a(href='/cruises/day-cruises.html') Day Cruises
                    li
                        a(href='/cruises/private-cruises.html') Private Cruises
                    li
                        a(href='/cruises/family-cruises.html') Family Cruises
                    li
                        a(href='/cruises/honeymoon-cruises.html') Honeymoon Cruises
                    li
                        a(href='/cruises/find-a-cruise.html') All Cruises (81)
            li
                a(href='/tour-packages.html') Cruise Packages
            li
                a(href='/cruises/private-cruises.html') Private Cruises
            li
                a(href='/cruises/best-sellers.html') Best Cruises 2017
            li.dropdown-links
                a.more(href='/trip-planning.html')
                    | Trip Planning
                    i.fa-angle-down.fa
                ul.sub-nav-links
                    li
                        a(href='/faqs.html') FAQs
                    li
                        a(href='/destinations.html') Destinations
                    li
                        a(href='/destinations/halong-bay.html') Halong Bay
                    li
                        a(href='/trip-planning/weather.html') Halong Weather
                    li
                        a(href='/interactive-map.html') Interactive Map
                    li
                        a(href='/trip-planning/best-time-to-visit.html') When to go
                    li
                        a(href='/trip-planning/travel-updates.html') Travel Updates
            li.dropdown-links
                a.more(href='javascript:void(0)')
                    | More
                    i.fa.fa-angle-down
                ul.sub-nav-links
                    li
                        a(href='/transfers.html') Private Transfers
                    li
                        a(href='/activities.html') Activities
                    li
                        a(href='/itineraries.html') Cruise Itineraries
                    li
                        a(href='/page/brochures.html') 2017 Brochures
                    li
                        a(href='/testimonials.html') Testimonials
            li
                a(href='/contact-us.html') Contact us
            li.hotline
                a(href='#')
                    i.fa.fa-phone.z_24
                    strong.f_hn.z_18 +84.946.505.505
// End Menu mobile fixed
