extends ../index

block page_script
    script(type='text/javascript', src='../js/pages/cruisecat-dist.js')

block content
    #container_1.grid_12.t_space_bottom
        #container_2.cat-banner
            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/cruise/admin/2016/06/Private-Cruises-2.jpg', alt='')
            .breadcrumb-main
                .container
                    ol.breadcrumb
                        li
                            a(href='/')
                                span.reb Home
                        li
                            a(href='/cruises/find-a-cruise.html') Find a cruise
                        li.active Halong Bay Mid-Range Cruises
            h1.z_24.f_hn.text-normal.text-uppercase Halong Bay Mid-Range Cruises
        nav.nav-cat
            .container
                ul
                    li
                        a(href='/interactive-map.html')
                            i.inc.inc-map
                            span Interactive map
                    li
                        a(href='/trip-planning/weather.html')
                            i.inc.inc-weather
                            span Weather
                    li
                        a(href='/trip-planning/prepare-go/how-to-get-to-halong-bay.html')
                            i.inc.inc-setting
                            span Getting there
                    li
                        a(href='/destinations.html')
                            i.inc.inc-binoculars
                            span Attractions
                    li
                        a(href='/activities.html')
                            i.inc.inc-rowing
                            span Activities
        #container_3.cat-wrap
            #container_4.container
                .cat-header.box-hidden
                    .socials.pull-right
                        .likePost
                            .social
                                #fb-root
                                script.
                                    (function (d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) {
                                            return;
                                        }
                                        js = d.createElement(s);
                                        js.id = id;
                                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }(document, 'script', 'facebook-jssdk'));
                                .fb-like(data-send='true', data-layout='button_count', data-width='80', data-show-faces='true')
                    h2.title.f_hn.z_24.text-normal.pull-left Halong Bay Mid-Range Cruises
                .cat-intro
                    .hg-more
                        p
                            | Mid range cruise is an economic and value option for those who consider visiting Halong Bay. Designed with a budget-minded priority without compromising quality, this is the most popular choice for customers wishing to visit Halong Bay. A number of vessels offer daily tours that last for 2 to 3 days with unique route, such as Glory Cruise, Calypso Cruise, Paloma Cruise and Dragon Pearl.
                            | Most mid-range cruise is in the $120++ range per person for 2 day 1 night trip. Each has its own uniqueness. For example, the Indochina Junk company that operates Dragon Pearl Junk, Red Dragon, Prince and Princess are highly reviewed on Trip Advisor for the quality of trip offered. Paloma Cruise, on the other hand, is rising as the next best cruise operating in Halong Bay for mid range option. Calypso Cruise, which shares the same owner as Oriental Sails, differentiates itself from rest with a more adventure oriented approach. One of the most popular mid-range cruises, Glory cruise offers a family-oriented trip with friendly staff and comfortable stay.
                            | Select your favourite! Or if you cannot, let us know and we will help!
                    div
                        a#readmore Read more
                .cat-main
                    .cat-sort
                        h3.title.f_hn.z_24.text-normal.pull-left Our Top Picks for May
                        .pull-right
                            label.inline-block Sort by:
                            .has-feedback.inline-block
                                input#sort.form-control(type='text', placeholder='', value='Most Popular')
                                span.form-control-feedback.fa.fa-angle-down
                                .sub-most.bg-default
                                    ul.list-check
                                        li.active(onclick="sort('priority DESC');") Most Popular
                                        li(onclick="sort('overall DESC');") Top Rated
                                        li(onclick="sort('price ASC');") Price (Low - High)
                                        li(onclick="sort('price DESC');") Price (High - Low)
                    .cat-list
                        #result
                            .row
                                .col-lg-4.col-sm-6
                                    .item
                                        a.cl-img(href='/cruise/glory-cruise.html')
                                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/cruise/admin/2016/08/GloryCruise_1_square.jpg', alt='')
                                            span#w51.heart-o.inline-block.text-center.btnwl(onclick='return false') 881
                                        .cl-caption
                                            .has-feedback
                                                h5.z_18.f_hn.text-bold.c2a
                                                    a(href='/cruise/glory-cruise.html') Glory Legend Cruise
                                                .box-review
                                                    label.rate-1
                                                        span(style='width: 80%;')
                                                    label.review
                                                        span.text-bold.inline-block.text-center.n-rate 9.4
                                                        strong.inline-block.text-uppercase Excellent
                                                        a.n-review.inline-block(href='#')
                                                            b 108
                                                            |  reviews
                                                .price.text-right
                                                    | From USD
                                                    label.block.f_hn.z_24
                                                        sup $
                                                        b 122
                                            address
                                                i.fa.fa-map-marker.c2a
                                                strong Address:
                                                |  32 Anh Dao St, Ha Long City
                                            #owl-home-1
                                                .tag
                                                    i.fa.fa-tags
                                                    |  Free Shuttle Bus + Kayaking - Save $30
                                        .cl-checkbox.text-right.hidden-xs
                                            ul.re-checkbox
                                                li
                                                    input#cm51.star-chose(type='checkbox', name='cruise', value='51')
                                                    label#label51(for='cm51') Add to compare
                                .col-lg-4.col-sm-6
                                    .item
                                        a.cl-img(href='/cruise/paloma-cruise.html')
                                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/cruise/dangth/2016/06/Paloma_3_square.jpg', alt='')
                                            span#w54.heart-o.inline-block.text-center.btnwl(onclick='return false') 217
                                        .cl-caption
                                            .has-feedback
                                                h5.z_18.f_hn.text-bold.c2a
                                                    a(href='/cruise/paloma-cruise.html') Paloma Cruise
                                                .box-review
                                                    label.rate-1
                                                        span(style='width: 80%;')
                                                    label.review
                                                        span.text-bold.inline-block.text-center.n-rate 9.3
                                                        strong.inline-block.text-uppercase Excellent
                                                        a.n-review.inline-block(href='#')
                                                            b 98
                                                            |  reviews
                                                .price.text-right
                                                    | From USD
                                                    label.block.f_hn.z_24
                                                        sup $
                                                        b 135
                                            address
                                                i.fa.fa-map-marker.c2a
                                                strong Address:
                                                |  6A Le Thanh Tong str, Hon Gai, Ha Long City, Quang Ninh, Vietnam
                                            #owl-home-1
                                                .tag
                                                    i.fa.fa-tags
                                                    |  Free Shuttle Bus: Save $30
                                        .cl-checkbox.text-right.hidden-xs
                                            ul.re-checkbox
                                                li
                                                    input#cm54.star-chose(type='checkbox', name='cruise', value='54')
                                                    label#label54(for='cm54') Add to compare
                                .col-lg-4.col-sm-6
                                    .item
                                        a.cl-img(href='/cruise/vela-classic.html')
                                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/cruise/dangth/2016/06/La-Vela-Classic_1_square.jpg', alt='')
                                            span#w58.heart-o.inline-block.text-center.btnwl(onclick='return false') 69
                                        .cl-caption
                                            .has-feedback
                                                h5.z_18.f_hn.text-bold.c2a
                                                    a(href='/cruise/vela-classic.html') La Vela Classic Cruise
                                                .box-review
                                                    label.rate-1
                                                        span(style='width: 80%;')
                                                    label.review
                                                        strong.inline-block.text-uppercase
                                                .price.text-right
                                                    | From USD
                                                    label.block.f_hn.z_24
                                                        sup $
                                                        b 130
                                            address
                                                i.fa.fa-map-marker.c2a
                                                strong Address:
                                                |  Unit 201, 2nd Floor, Hanoi Tower - The Office, 49 Hai Ba Trung Str, Hanoi, Vietnam
                                        .cl-checkbox.text-right.hidden-xs
                                            ul.re-checkbox
                                                li
                                                    input#cm58.star-chose(type='checkbox', name='cruise', value='58')
                                                    label#label58(for='cm58') Add to compare
                                .col-lg-4.col-sm-6.mb-hide
                                    .item
                                        a.cl-img(href='/cruise/carina-cruise.html')
                                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/cruise/admin/2017/02/carinacruise_b_square.jpg', alt='')
                                            span#w124.heart-o.inline-block.text-center.btnwl(onclick='return false') 19
                                        .cl-caption
                                            .has-feedback
                                                h5.z_18.f_hn.text-bold.c2a
                                                    a(href='/cruise/carina-cruise.html') Carina Cruise
                                                    span.text-special  NEW
                                                .box-review
                                                    label.rate-1
                                                        span(style='width: 80%;')
                                                    label.review
                                                        span.text-bold.inline-block.text-center.n-rate 9.2
                                                        strong.inline-block.text-uppercase Excellent
                                                        a.n-review.inline-block(href='#')
                                                            b 4
                                                            |  reviews
                                                .price.text-right
                                                    | From USD
                                                    label.block.f_hn.z_24
                                                        sup $
                                                        b 130
                                            address
                                                i.fa.fa-map-marker.c2a
                                                strong Address:
                                                |  33C Pham Ngu Lao, Hanoi, Vietnam
                                        .cl-checkbox.text-right.hidden-xs
                                            ul.re-checkbox
                                                li
                                                    input#cm124.star-chose(type='checkbox', name='cruise', value='124')
                                                    label#label124(for='cm124') Add to compare
                                .col-lg-4.col-sm-6.mb-hide
                                    .item
                                        a.cl-img(href='/cruise/alisa-cruise.html')
                                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/cruise/admin/2017/02/alisacruise_1_square.jpg', alt='')
                                            span#w127.heart-o.inline-block.text-center.btnwl(onclick='return false') 12
                                        .cl-caption
                                            .has-feedback
                                                h5.z_18.f_hn.text-bold.c2a
                                                    a(href='/cruise/alisa-cruise.html') Alisa Cruise
                                                    span.text-special  NEW
                                                .box-review
                                                    label.rate-1
                                                        span(style='width: 100%;')
                                                    label.review
                                                        strong.inline-block.text-uppercase
                                                .price.text-right
                                                    | From USD
                                                    label.block.f_hn.z_24
                                                        sup $
                                                        b 145
                                            address
                                                i.fa.fa-map-marker.c2a
                                                strong Address:
                                        .cl-checkbox.text-right.hidden-xs
                                            ul.re-checkbox
                                                li
                                                    input#cm127.star-chose(type='checkbox', name='cruise', value='127')
                                                    label#label127(for='cm127') Add to compare
                                .col-lg-4.col-sm-6.mb-hide
                                    .item
                                        a.cl-img(href='/cruise/lafairy-sails.html')
                                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/cruise/admin/2016/06/LaFairy-Sails_2_square.jpg', alt='')
                                            span#w103.heart-o.inline-block.text-center.btnwl(onclick='return false') 96
                                        .cl-caption
                                            .has-feedback
                                                h5.z_18.f_hn.text-bold.c2a
                                                    a(href='/cruise/lafairy-sails.html') LaFairy Sails
                                                    span.text-special  NEW
                                                .box-review
                                                    label.rate-1
                                                        span(style='width: 80%;')
                                                    label.review
                                                        span.text-bold.inline-block.text-center.n-rate 9.3
                                                        strong.inline-block.text-uppercase Excellent
                                                        a.n-review.inline-block(href='#')
                                                            b 52
                                                            |  reviews
                                                .price.text-right
                                                    | From USD
                                                    label.block.f_hn.z_24
                                                        sup $
                                                        b 149
                                            address
                                                i.fa.fa-map-marker.c2a
                                                strong Address:
                                                |  No. 14B/20, Ly Nam De str., Hanoi, Vietnam
                                        .cl-checkbox.text-right.hidden-xs
                                            ul.re-checkbox
                                                li
                                                    input#cm103.star-chose(type='checkbox', name='cruise', value='103')
                                                    label#label103(for='cm103') Add to compare
                        .cl-more.text-center
                            input#show-number(type='hidden', name='show-number', value='12')
                            input#cruise-number(type='hidden', name='cruise-number', value='18')
                            input#category_id(type='hidden', value='2')
                            input#sorthide(type='hidden', value='priority DESC')
                            a.inline-block.c6.show-more
                                | Show More
                                i.fa.fa-chevron-down
                        form#frmCompare(action='/cruises/compare.html', method='post')
                            input#compare(type='hidden', value='', name='compare')
                form#frmCompare(action='/cruises/compare.html', method='post')
                    input#compare(type='hidden', value='', name='compare')
                .box-help
                    img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/skins/v3/images/av-hepl.png', alt='')
                    h5.z_16.text-bold Looking for a private Halong cruising experience?
                    p
                        | Finding a private charter cruise in Halong Bay is as simple as booking a hotel online. Contact our
                        | charter experts to get free advice and quote.
                    a.btn.btn-style-1.z_14.text-bold(href='/contact-us.html')
                        | Ask Us Now
                        i.fa.fa-angle-right