extends ../index

block page_script
    script(type='text/javascript', src='../js/pages/home-dist.js')

block hero
    include ../../../modules/home-hero

block sub-banner
    include ../../../modules/home-sub-banner

block content
    #container_1.main-wrap
        .ads-banner
            .container.text-center
                a.inline-block(href='/tour-package/sofitel-legend-metropole-paradise-luxury-cruise.html', title='Sofitel Legend Metropole + Paradise Luxury Cruise from $590/pp')
                    img(src='../images/ads-banner.jpg', alt='Sofitel Legend Metropole + Paradise Luxury Cruise from $590/pp')
        section.explore.home-section
            .container
                h2.title24 Explore Halong Bay With Our Best Tour Collection
                .owl-wrap-1
                    #owl-home-1.owl-carousel
                        .item
                            .post-single
                                .bg-default
                                    a.i-header(href='/cruise/glory-cruise/2-day-1-night.html')
                                        img.lazy(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/cruise/admin/2016/08/GloryCruise_1_square.jpg', alt='Glory Legend Cruise  2 Days')
                                        span#w51.heart-o.inline-block.text-center.btnwl(title='', data-placement='left', data-toggle='tooltip', data-original-title='Save to wishlist', onclick='return false;') 873
                                    .i-body
                                        h4.title
                                            a(href='/cruise/glory-cruise/2-day-1-night.html') Glory Legend Cruise 2 Days
                                        label.price
                                            sup $
                                            | 122
                                            span
                                                | AVG
                                                br
                                                | PP
                                        .box-review
                                            label.rate-1
                                                span(style='width: 80%;')
                                            label.review
                                                span.text-bold.inline-block.text-center.n-rate 9.4
                                                strong.inline-block.text-uppercase Excellent
                                                a.n-review.inline-block
                                                    b 108
                                                    |  reviews
                                        p.schedule
                                            | Surprise Cave
                                            i.fa.fa-long-arrow-right
                                            |  Fighting Cocks Islet
                                            i.fa.fa-long-arrow-right
                                            |  Dinh Huong Islet
                                            i.fa.fa-long-arrow-right
                                            |  Halong Bay
                                            i.fa.fa-long-arrow-right
                                            |  Soi Sim Island
                                        .tag
                                            i.fa.fa-tags
                                            |  Free Shuttle Bus + Kayaking - Save $30
                                        blockquote
                                            p.quote-left
                                                | Le, Ding, Ting provided very good service. Drinks were good but very...
                                            footer
                                                strong Omer Igal
                                                |  Israel
                        .item
                            .post-single
                                .bg-default
                                    a.i-header(href='/cruise/aphrodite-cruise/2-day-1-night.html')
                                        img.lazy(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/cruise/dangth/2016/06/Aphrodite_3_square.jpg', alt='Aphrodite Cruise  2 Days')
                                        span#w100.heart-o.inline-block.text-center.btnwl(title='', data-placement='left', data-toggle='tooltip', data-original-title='Save to wishlist', onclick='return false;') 246
                                    .i-body
                                        h4.title
                                            a(href='/cruise/aphrodite-cruise/2-day-1-night.html') Aphrodite Cruise 2 Days
                                        label.price
                                            sup $
                                            | 160
                                            span
                                                | AVG
                                                br
                                                | PP
                                        .box-review
                                            label.rate-1
                                                span(style='width: 100%;')
                                            label.review
                                                span.text-bold.inline-block.text-center.n-rate 9.5
                                                strong.inline-block.text-uppercase Excellent
                                                a.n-review.inline-block
                                                    b 124
                                                    |  reviews
                                        p.schedule
                                            | Halong Bay
                                            i.fa.fa-long-arrow-right
                                            |  Surprise Cave
                                            i.fa.fa-long-arrow-right
                                            |  Ti Top Island
                                            i.fa.fa-long-arrow-right
                                            |  Luon Cave
                                        blockquote
                                            p.quote-left
                                                | We enjoyed are cruise very much, staff were very friendly, some things to improve on, stock bar...
                                            footer
                                                strong Belinda Doughty
                                                |  Australia
                        .item
                            .post-single
                                .bg-default
                                    a.i-header(href='/cruise/orchid-cruise/2-day-1-night.html')
                                        img.lazy(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/cruise/admin/2017/03/Orchid-Cruise_2_square.jpg', alt='Orchid Cruise  2 Days')
                                        span#w108.heart-o.inline-block.text-center.btnwl(title='', data-placement='left', data-toggle='tooltip', data-original-title='Save to wishlist', onclick='return false;') 477
                                    .i-body
                                        h4.title
                                            a(href='/cruise/orchid-cruise/2-day-1-night.html') Orchid Cruise 2 Days
                                        label.price
                                            sup $
                                            | 175
                                            span
                                                | AVG
                                                br
                                                | PP
                                        .box-review
                                            label.rate-1
                                                span(style='width: 100%;')
                                            label.review
                                                span.text-bold.inline-block.text-center.n-rate 9.7
                                                strong.inline-block.text-uppercase Excellent
                                                a.n-review.inline-block
                                                    b 68
                                                    |  reviews
                                        p.schedule
                                            | Halong Bay
                                            i.fa.fa-long-arrow-right
                                            |  Lan Ha Bay
                                            i.fa.fa-long-arrow-right
                                            |  Ba Trai Dao Islets
                                            i.fa.fa-long-arrow-right
                                            |  Cat Ba Island
                                            i.fa.fa-long-arrow-right
                                            |  Dark and Bright Cave
                                        .tag
                                            i.fa.fa-tags
                                            |  Amazing Deal 2017: Free 60’ body/foot massage
                                        blockquote
                                            p.quote-left
                                                | Beautiful cruise, very very nice. Food is well prepared (no cilantro for us, yay!). New highway...
                                            footer
                                                strong Park
                                                |  South Korea
                        .item
                            .post-single
                                .bg-default
                                    a.i-header(href='/cruise/paloma-cruise/2-day-1-night.html')
                                        img.lazy(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/cruise/dangth/2016/06/Paloma_3_square.jpg', alt='Paloma Cruise  2 Days')
                                        span#w54.heart-o.inline-block.text-center.btnwl(title='', data-placement='left', data-toggle='tooltip', data-original-title='Save to wishlist', onclick='return false;') 216
                                    .i-body
                                        h4.title
                                            a(href='/cruise/paloma-cruise/2-day-1-night.html') Paloma Cruise 2 Days
                                        label.price
                                            sup $
                                            | 135
                                            span
                                                | AVG
                                                br
                                                | PP
                                        .box-review
                                            label.rate-1
                                                span(style='width: 80%;')
                                            label.review
                                                span.text-bold.inline-block.text-center.n-rate 9.3
                                                strong.inline-block.text-uppercase Excellent
                                                a.n-review.inline-block
                                                    b 98
                                                    |  reviews
                                        p.schedule
                                            | Bai Tu Long Bay
                                            i.fa.fa-long-arrow-right
                                            |  Thien Canh Son Cave
                                            i.fa.fa-long-arrow-right
                                            |  Drum Cave
                                            i.fa.fa-long-arrow-right
                                            |  Vung Vieng Fishing Village
                                        .tag
                                            i.fa.fa-tags
                                            |  Free Shuttle Bus: Save $30
                                        blockquote
                                            p.quote-left
                                                | Thank you  for amazing experience with a family Paloma is the...
                                            footer
                                                strong Valentin Atonelli
                                                |  Argentina
                        .item
                            .post-single
                                .bg-default
                                    a.i-header(href='/cruise/paradise-cruise/2-day-1-night.html')
                                        img.lazy(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/cruise/admin/2016/06/Paradise_Luxury_Cruise_1_square.jpg', alt='Paradise Luxury Cruise  2 Days')
                                        span#w69.heart-o.inline-block.text-center.btnwl(title='', data-placement='left', data-toggle='tooltip', data-original-title='Save to wishlist', onclick='return false;') 463
                                    .i-body
                                        h4.title
                                            a(href='/cruise/paradise-cruise/2-day-1-night.html') Paradise Luxury Cruise 2 Days
                                        .price(style='padding-right: 0;')
                                            button.btn.btn-get-price.btn-get-price-sm.btnGetprice(type='button', alt='Paradise Luxury Cruise', data-currency='$', data-toggle='modal', data-target='#priceModal') Check price
                                        .box-review
                                            label.rate-1
                                                span(style='width: 100%;')
                                            label.review
                                                span.text-bold.inline-block.text-center.n-rate 9.6
                                                strong.inline-block.text-uppercase Excellent
                                                a.n-review.inline-block
                                                    b 45
                                                    |  reviews
                                        p.schedule
                                            | Halong Bay
                                            i.fa.fa-long-arrow-right
                                            |  Lan Ha Bay
                                            i.fa.fa-long-arrow-right
                                            |  Cua Van Fishing Village
                                            i.fa.fa-long-arrow-right
                                            |  Tien Ong Cave
                                            i.fa.fa-long-arrow-right
                                            |  Ti Top Island
                                            i.fa.fa-long-arrow-right
                                            |  Surprise Cave
                                        .tag
                                            i.fa.fa-tags
                                            |  Book Paradise - Stay FREE at Hilton Opera
                                        blockquote
                                            p.quote-left
                                                | Thank you for the warm welcome and accommodation. Our tour guide “Happy” is so professtional,...
                                            footer
                                                strong Sheji
                                                |  Singapore
                        .item
                            .post-single
                                .bg-default
                                    a.i-header(href='/cruise/signature-cruise/2-day-1-night.html')
                                        img.lazy(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/cruise/admin/2016/06/Signature_1_square.jpg', alt='Signature Cruise  2 Days')
                                        span#w98.heart-o.inline-block.text-center.btnwl(title='', data-placement='left', data-toggle='tooltip', data-original-title='Save to wishlist', onclick='return false;') 330
                                    .i-body
                                        h4.title
                                            a(href='/cruise/signature-cruise/2-day-1-night.html') Signature Cruise 2 Days
                                        label.price
                                            sup $
                                            | 159
                                            span
                                                | AVG
                                                br
                                                | PP
                                        .box-review
                                            label.rate-1
                                                span(style='width: 100%;')
                                            label.review
                                                span.text-bold.inline-block.text-center.n-rate 9.1
                                                strong.inline-block.text-uppercase Excellent
                                                a.n-review.inline-block
                                                    b 108
                                                    |  reviews
                                        p.schedule
                                            | Halong Bay
                                            i.fa.fa-long-arrow-right
                                            |  Vung Vieng Fishing Village
                                            i.fa.fa-long-arrow-right
                                            |  Bai Tu Long Bay
                                            i.fa.fa-long-arrow-right
                                            |  Thien Canh Son Cave
                                        blockquote
                                            p.quote-left
                                                | Big thank...
                                            footer
                                                strong Susie Everett
                                                |  United Kingdom
        section.packages.home-section
            .container
                .h-header.pa-header.h-header-dropdown.text-center
                    h2.title24 Best Halong Bay Tours 2017
                    span.fa.fa-plus.z_18
                .h_show
                    .packages-body
                        .row
                            .col-md-4.col-sm-6
                                .pa-thumbnail
                                    .link-img
                                        a(href='/tour-package/sofitel-legend-metropole-paradise-luxury-cruise.html')
                                            img.lazy(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/tour/admin/2016/07/sofitel-legend-metropole_6_square.jpg', alt='Luxury Duo: Sofitel Legend Metropole + Paradise Cruise')
                                        span.heart-o.inline-block.text-center(data-toggle='tooltip', data-placement='left', title='Save to wishlist', onclick="wishlist(20,'tour')")
                                        .th-info.box-hidden
                                            span.pull-left
                                                i.fa.fa-clock-o
                                                strong Duration:
                                                |  4 days/ 3 nights
                                            span.pull-right
                                                strong Combo:
                                                i.fa.fa-hotel
                                                |  +
                                                i.fa.fa-ship
                                    .caption
                                        h4.th-title.z_16.text-bold
                                            a.i-header(href='/tour-package/sofitel-legend-metropole-paradise-luxury-cruise.html') Luxury Duo: Sofitel Legend Metropole + Paradise Cruise
                                        .th-detail.c07
                                            .pull-left
                                                label.rate-1
                                                    span(style='100%;')
                                                ul.bread
                                                    li Hanoi
                                                    li Halong Bay
                                                    li Hanoi
                                            .pull-right.text-right
                                                | From
                                                br
                                                b.z_24.c0 $690
                                                br
                                                a.included-pop(href='javascript:void(0)')
                                                    i.fa.fa-question-circle
                                                    |  What's Included
                                                    i.fa.fa-angle-double-right
                                                .detail-included.bg-default
                                                    h4
                                                        a(href='/tour-package/sofitel-legend-metropole-paradise-luxury-cruise.html') Luxury Duo: Sofitel Legend Metropole + Paradise Cruise
                                                        i.included-close.fa.fa-times
                                                    .included-content
                                                        .row
                                                            .col-sm-6
                                                                label Price Included:
                                                                ul
                                                                    li
                                                                        | Round trip airport pick up and drop off
                                                                    li
                                                                        | 2 night stay at premium room- Sofitel Legend Metropole
                                                                    li
                                                                        | 1night stay at deluxe cabin - Paradise Luxury Cruise
                                                                    li
                                                                        | Return pick up and drop off by private car from hotel to cruise and back
                                                            .col-sm-6
                                                                p
                                                                    strong Price Excluded:
                                                                ul.list-dot
                                                                    li
                                                                        | Visa arrangements
                                                                    li
                                                                        | Beauty & spa services
                                                                    li
                                                                        | Other beverages, tips and personal expenses
                                                                    li
                                                                        | All other services not clearly mentioned in the inclusion list
                                                                    li
                                                                        | Peak season surcharge $50/person applies for travel date from 01 October to 31 December, 2016
                                        .th-footer.c9
                                            p
                                                | Treat yourself to the most luxurious combination that Hanoi and Halong Bay have to offer: the hundred year old Sofitel Legend Metropole and Halong's most luxury voyage on Paradise Luxury.
                            .col-md-4.col-sm-6
                                .pa-thumbnail
                                    .link-img
                                        a(href='/tour-package/family-getaway--somerset-grand-hotel-orchid-cruise.html')
                                            img.lazy(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/tour/admin/2017/04/Somerset-7_square.jpg', alt='Family Getaway: Somerset Hotel + Orchid Cruise')
                                        span.heart-o.inline-block.text-center(data-toggle='tooltip', data-placement='left', title='Save to wishlist', onclick="wishlist(21,'tour')")
                                        .th-info.box-hidden
                                            span.pull-left
                                                i.fa.fa-clock-o
                                                strong Duration:
                                                |  4 days/ 3 nights
                                            span.pull-right
                                                strong Combo:
                                                i.fa.fa-hotel
                                                |  +
                                                i.fa.fa-ship
                                    .caption
                                        h4.th-title.z_16.text-bold
                                            a.i-header(href='/tour-package/family-getaway--somerset-grand-hotel-orchid-cruise.html') Family Getaway: Somerset Hotel + Orchid Cruise
                                        .th-detail.c07
                                            .pull-left
                                                label.rate-1
                                                    span(style='100%;')
                                                ul.bread
                                                    li Hanoi
                                                    li Halong Bay
                                                    li Hanoi
                                            .pull-right.text-right
                                                | From
                                                br
                                                b.z_24.c0 $360
                                                br
                                                a.included-pop(href='javascript:void(0)')
                                                    i.fa.fa-question-circle
                                                    |  What's Included
                                                    i.fa.fa-angle-double-right
                                                .detail-included.bg-default
                                                    h4
                                                        a(href='/tour-package/family-getaway--somerset-grand-hotel-orchid-cruise.html') Family Getaway: Somerset Hotel + Orchid Cruise
                                                        i.included-close.fa.fa-times
                                                    .included-content
                                                        .row
                                                            .col-sm-6
                                                                label Price Included:
                                                                ul
                                                                    li
                                                                        | Round trip airport pick up and drop off
                                                                    li
                                                                        | 2 night stay at 2 bed room apartment - Somerset Grand Hotel
                                                                    li
                                                                        | 1night stay at triple cabin - Orchid Cruise (upgrade to family cabin at extra cost)
                                                                    li
                                                                        | Return pick up and drop off by shared luxury limousine from hotel to cruise and back
                                                            .col-sm-6
                                                                p
                                                                    strong Price Excluded:
                                                                ul.list-dot
                                                                    li
                                                                        | Visa arrangements
                                                                    li
                                                                        | Beauty & spa services
                                                                    li
                                                                        | Other beverages, tips and personal expenses
                                                                    li
                                                                        | All other services not clearly mentioned in the inclusion list
                                        .th-footer.c9
                                            p
                                                | What is better than having a great family vacation with luxury accommodation, unique cruise trip and good food? Celebrate your family love with our package: Somerset Grand and Orchid Cruise.
                            .col-md-4.col-sm-6.hidden-sm.hidden-xs
                                .pa-thumbnail
                                    .link-img
                                        a(href='/tour-package/package-mercure-hotel-aphrodite-cruise.html')
                                            img.lazy(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/tour/admin/2016/07/Aphrodite_2_square.jpg', alt='Summer Sizzling Deal: Mercure Hotel + Aphrodite Cruise')
                                        span.heart-o.inline-block.text-center(data-toggle='tooltip', data-placement='left', title='Save to wishlist', onclick="wishlist(19,'tour')")
                                        .th-info.box-hidden
                                            span.pull-left
                                                i.fa.fa-clock-o
                                                strong Duration:
                                                |  4 days/ 3 nights
                                            span.pull-right
                                                strong Combo:
                                                i.fa.fa-hotel
                                                |  +
                                                i.fa.fa-ship
                                    .caption
                                        h4.th-title.z_16.text-bold
                                            a.i-header(href='/tour-package/package-mercure-hotel-aphrodite-cruise.html') Summer Sizzling Deal: Mercure Hotel + Aphrodite Cruise
                                        .th-detail.c07
                                            .pull-left
                                                label.rate-1
                                                    span(style='80%;')
                                                ul.bread
                                                    li Hanoi
                                                    li Halong Bay
                                                    li Hanoi
                                            .pull-right.text-right
                                                | From
                                                br
                                                b.z_24.c0 $260
                                                br
                                                a.included-pop(href='javascript:void(0)')
                                                    i.fa.fa-question-circle
                                                    |  What's Included
                                                    i.fa.fa-angle-double-right
                                                .detail-included.bg-default
                                                    h4
                                                        a(href='/tour-package/package-mercure-hotel-aphrodite-cruise.html') Summer Sizzling Deal: Mercure Hotel + Aphrodite Cruise
                                                        i.included-close.fa.fa-times
                                                    .included-content
                                                        .row
                                                            .col-sm-6
                                                                label Price Included:
                                                                ul
                                                                    li
                                                                        | 2 night stay at Mercure La Gare Hotel / Superior room
                                                                    li
                                                                        | 2 day 1 night trip to Halong Bay on Aphrodite Cruise/ Luxury window cabin
                                                                    li
                                                                        | Breakfast at hotel and all meals on board
                                                                    li
                                                                        | Transfer round trip Hanoi - Halong Bay - Hanoi by shuttle bus
                                                                    li
                                                                        | Complimentary spa treatment at Spas Hanoi (60 minute each)
                                                            .col-sm-6
                                                                p
                                                                    strong Price Excluded:
                                                                ul
                                                                    li
                                                                        | Airport transfer, visa, airfare
                                                                    li
                                                                        | Tips, Drinks
                                        .th-footer.c9
                                            p
                                                | It's simply a can-not-be-missed deal this summer 2017: a stay at Mercure La Gare, a trip on Aphrodite, and a complimentary spa treatment. It is a 4 day 3 night trip to remember.
                    .packages-footer.text-center
                        a.btn.btn-default.c2a.z_14(href='/tour-packages.html') See all Cruise Tours Packages
        section.destinations.home-section.bg-default
            .container
                .h-header.des-header.h-header-dropdown.text-center
                    h2.title24 Discover Halong Bay Top Destinations
                    span.fa.fa-plus.z_18
                    p
                        | No trip to Vietnam will be complete without a visit to Halong Bay. Known as the UNESCO World Heritage Site,
                        | Halong Bay appeals to world-wide tourists by its picturesque natural scenery.
                .h_show
                    .des-body
                        .grid
                            .col
                                a(href='/destinations/dark-and-bright-cave.html')
                                    img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/destination/admin/2016/07/Dark-and-Bright-Cave222.jpg', alt='Dark and Bright Cave')
                                    .caption.text-center
                                        .box-center.lh24
                                            i.fa.fa-map-marker.z_24
                                            strong.block.z_24 Dark and Bright Cave
                                            span.block 16 Cruise trips
                                a(href='/destinations/vung-vieng-fishing-village.html')
                                    img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/destination/admin/2016/07/Vung-Vieng-Fishing-Village22.jpg', alt='Vung Vieng Fishing Village')
                                    .caption.text-center
                                        .box-center.lh24
                                            i.fa.fa-map-marker.z_24
                                            strong.block.z_24 Vung Vieng Fishing Village
                                            span.block 38 Cruise trips
                                a(href='/destinations/cat-ba-island.html')
                                    img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/destination/admin/2016/07/Cat-ba-Island22.jpg', alt='Cat Ba Island')
                                    .caption.text-center
                                        .box-center.lh24
                                            i.fa.fa-map-marker.z_24
                                            strong.block.z_24 Cat Ba Island
                                            span.block 4 Cruise trips
                            .col
                                a(href='/destinations/soi-sim-island.html')
                                    img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/destination/admin/2016/07/Soi-Sim-Island.jpg', alt='Soi Sim Island')
                                    .caption.text-center
                                        .box-center.lh24
                                            i.fa.fa-map-marker.z_24
                                            strong.block.z_24 Soi Sim Island
                                            span.block 15 Cruise trips
                                a(href='/destinations/fighting-cocks-islet.html')
                                    img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/destination/admin/2016/07/Fighting-Cocks-Islet.jpg', alt='Fighting Cocks Islet ')
                                    .caption.text-center
                                        .box-center.lh24
                                            i.fa.fa-map-marker.z_24
                                            strong.block.z_24 Fighting Cocks Islet
                                            span.block 9 Cruise trips
                                a(href='/destinations/dau-go-cave.html')
                                    img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/destination/admin/2016/07/Dau-Go-Cave.jpg', alt='Dau Go Cave')
                                    .caption.text-center
                                        .box-center.lh24
                                            i.fa.fa-map-marker.z_24
                                            strong.block.z_24 Dau Go Cave
                                            span.block 1 Cruise trips
                            .col
                                a(href='/destinations/hon-co-island.html')
                                    img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/destination/admin/2016/07/hon-co-island.jpg', alt='Hon Co Island')
                                    .caption.text-center
                                        .box-center.lh24
                                            i.fa.fa-map-marker.z_24
                                            strong.block.z_24 Hon Co Island
                                            span.block 1 Cruise trips
                                a(href='/destinations/vung-ha-beach.html')
                                    img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/destination/admin/2016/07/Vung-Ha-Beach.jpg', alt='Vung Ha Beach')
                                    .caption.text-center
                                        .box-center.lh24
                                            i.fa.fa-map-marker.z_24
                                            strong.block.z_24 Vung Ha Beach
                                            span.block 1 Cruise trips
                                a(href='/destinations/lom-bo-islet.html')
                                    img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/destination/admin/2016/07/Lom-Bo-Islet.jpg', alt='Lom Bo Islet')
                                    .caption.text-center
                                        .box-center.lh24
                                            i.fa.fa-map-marker.z_24
                                            strong.block.z_24 Lom Bo Islet
                                            span.block 13 Cruise trips
                            .col.hidden-xs
                                a(href='/destinations/luon-cave.html')
                                    img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/destination/admin/2016/07/Luon-Island.jpg', alt='Luon Cave')
                                    .caption.text-center
                                        .box-center.lh24
                                            i.fa.fa-map-marker.z_24
                                            strong.block.z_24 Luon Cave
                                            span.block 10 Cruise trips
                                a(href='/destinations/cong-dam-area.html')
                                    img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/destination/admin/2016/07/Cong-Dam-Area.jpg', alt='Cong Dam Area')
                                    .caption.text-center
                                        .box-center.lh24
                                            i.fa.fa-map-marker.z_24
                                            strong.block.z_24 Cong Dam Area
                                            span.block 13 Cruise trips
                                a(href='/destinations/viet-hai-village.html')
                                    img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/destination/admin/2016/07/Viet-Hai-Village.jpg', alt='Viet Hai Village')
                                    .caption.text-center
                                        .box-center.lh24
                                            i.fa.fa-map-marker.z_24
                                            strong.block.z_24 Viet Hai Village
                                            span.block 2 Cruise trips
                            .col.hidden-sm.hidden-xs
                                a(href='/destinations/thien-canh-son-cave.html')
                                    img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/destination/admin/2016/07/Thien-Canh-Son-cave.jpg', alt='Thien Canh Son Cave')
                                    .caption.text-center
                                        .box-center.lh24
                                            i.fa.fa-map-marker.z_24
                                            strong.block.z_24 Thien Canh Son Cave
                                            span.block 32 Cruise trips
                                a(href='/destinations/yen-duc-village.html')
                                    img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/destination/admin/2016/07/Yen-Duc-Village.jpg', alt='Yen Duc Village')
                                    .caption.text-center
                                        .box-center.lh24
                                            i.fa.fa-map-marker.z_24
                                            strong.block.z_24 Yen Duc Village
                                            span.block 4 Cruise trips
                                a(href='/destinations/bai-tu-long-bay.html')
                                    img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/destination/admin/2016/07/Bai-Tu-Long-Bay.jpg', alt='Bai Tu Long Bay')
                                    .caption.text-center
                                        .box-center.lh24
                                            i.fa.fa-map-marker.z_24
                                            strong.block.z_24 Bai Tu Long Bay
                                            span.block 43 Cruise trips
        section.why-tours.home-section
            .container
                .h-header.h-header-dropdown.wt-header.text-center
                    h3.title24 Why choose Halong Bay Tours?
                    span.fa.fa-plus.z_18
                .h_show
                    #owl-home-2.owl-carousel
                        .item
                            .row
                                .col-md-6
                                    .wrap-media.wrap-media-1.box-hidden
                                        img.img-responsive(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/skins/v3/images/home/slide-1.jpg', alt='')
                                    a.more-1y.hidden-lg.hidden-md(href='/testimonials.html')
                                        | More testimonials
                                        i.fa.fa-chevron-circle-right
                                .col-md-6
                                    .caption.h_media.h_media-1
                                        h4.title.z_20
                                            | We don't just promise
                                            br
                                            |  great service -
                                            a(href='/testimonials.html') We deliver it!
                                        blockquote
                                            p.quote
                                                | We had a very pleasant two weeks in Vietnam and a highlight was the Halong Bay overnight cruise trip. It was all made very easy for us booking online with Halong Bay Tours.
                                            footer
                                                strong David Chapman & Veronica Love
                                                | , United Kingdom
                                        a.more-1y.hidden-xs.hidden-sm(href='/testimonials.html') More testimonials
                        .item
                            .row
                                .col-lg-5.col-md-7
                                    .caption.h_media.h_media-2
                                        p
                                            | Serving thousands of tourists visiting Halong Bay each year, we are proudly the most specialized tour agency for Halong Bay. Travellers and professionals worldwide appreciate us for:
                                        ul.list-check
                                            li Knowledge: Highly experienced consultants with local insights
                                            li Service: Outstanding service with a heart and many smiles
                                            li Trust: We guarantee your satisfaction and deliver tours as promised
                                            li Value: You get the most and the best value for your trip
                                            li Protection: We do our best to protect your interest in whatever circumstances
                                            li
                                                | Flexibility: Tour customization and free trip cancellation up to 15 days before departure
                                        a.more-1y.hidden-xs.hidden-sm(href='/page/about-us.html') Learn more
                                .col-lg-7.col-md-5
                                    .wrap-media.box-hidden
                                        .embed-responsive.embed-responsive-16by9
                                            iframe.embed-responsive-item(src='https://www.youtube.com/embed/Ny50TJZFHcA')
                                        a.more-1y.hidden-lg.hidden-md(href='/page/about-us.html')
                                            | Learn more
                                            i.fa.fa-chevron-circle-right
    section.team.home-section.bg-default
        .container
            .h-header.h-header-dropdown.team-header.text-center
                h3.title24
                    | Meet our team
                    span.fa.fa-plus.z_16
                span.fa.fa-plus.z_18
                p
                    | We are proud of our excellent team who are not only pleasant to work with but will also bring you an
                    | unparalleled experience when booking your tour. Our past travelers have enjoyed our punctual response,
                    | ultimate care and smiling face and we believe that we will make you feel the same way.
            .h_show
                ul.teams-list
                    li
                        .avata
                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/skins/v3/images/profile/profile8.jpg', alt='')
                        .p-info
                            h5.text-bold Sunny
                            p Sales Manager
                    li
                        .avata
                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/skins/v3/images/profile/profile9.jpg', alt='')
                        .p-info
                            h5.text-bold Jane
                            p Senior Travel Consultant
                    li
                        .avata
                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/skins/v3/images/profile/profile17.jpg', alt='')
                        .p-info
                            h5.text-bold Cindy
                            p Senior Travel Consultant
                    li
                        .avata
                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/skins/v3/images/profile/profile7.jpg', alt='')
                        .p-info
                            h5.text-bold Kami
                            p Cruise Consultant
                    li
                        .avata
                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/skins/v3/images/profile/profile6.jpg', alt='')
                        .p-info
                            h5.text-bold Van
                            p Tour Operator
                    li
                        .avata
                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/skins/v3/images/profile/profile10.jpg', alt='')
                        .p-info
                            h5.text-bold Linh
                            p Cruise Charter Specialist
                    li
                        .avata
                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/skins/v3/images/profile/profile13.jpg', alt='')
                        .p-info
                            h5.text-bold Hanh
                            p Tour Guide
                    li
                        .avata
                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/skins/v3/images/profile/profile1.jpg', alt='')
                        .p-info
                            h5.text-bold Nhung
                            p Air Ticket Consultant
                    li
                        .avata
                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/skins/v3/images/profile/profile2.jpg', alt='')
                        .p-info
                            h5.text-bold Van
                            p Air Ticket Consultant
                    li
                        .avata
                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/skins/v3/images/profile/profile3.jpg', alt='')
                        .p-info
                            h5.text-bold Nhung
                            p Admin & Secretary
                    li
                        .avata
                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/skins/v3/images/profile/profile4.jpg', alt='')
                        .p-info
                            h5.text-bold Trang
                            p Customer Support
                    li
                        .avata
                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/skins/v3/images/profile/profile5.jpg', alt='')
                        .p-info
                            h5.text-bold Ky
                            p Tour Guide
                    li
                        .avata
                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/skins/v3/images/profile/profile11.jpg', alt='')
                        .p-info
                            h5.text-bold Huong
                            p Air Ticket Consultant
                    li
                        .avata
                            img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/skins/v3/images/profile/profile12.jpg', alt='')
                        .p-info
                            h5.text-bold Nam
                            p Tour Guide
