extends ../index

block hero
    include ../../../modules/main-inner-hero

block sub-banner
    include ../../../modules/main-sub-banner

block content
    #container_1.main-wrap
        #container_2.container
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Integer id pretium nulla. Sed a commodo neque. Maecenas fringilla pellentesque sagittis. Mauris aliquet ac est ac iaculis. Vivamus aliquam lectus eget dolor mollis sodales. Quisque malesuada tristique tincidunt. Aliquam sit amet tellus eu nisi blandit congue. Quisque elementum erat vel ullamcorper aliquam. Sed eleifend turpis vitae orci mattis pretium. Nullam eget accumsan mauris, at pretium metus. Nulla congue urna quis ligula elementum, sed convallis arcu dictum. Fusce ullamcorper maximus dui, sit amet accumsan mi convallis vel.