extends ../index
block page_style
    link(href='../css/packages.css', media='screen', rel='stylesheet', type='text/css')

block page_script
    script(type='text/javascript', src='../js/pages/tour-dist.js')
block hero
    .cat-banner
        img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/skins/v3/images/activities/bg-banner-packages.jpg', alt='')
        .breadcrumb-main
            .container
                ol.breadcrumb
                    li
                        a(href='/') Home
                    li.active Holiday packages
        h1.f_hn.z_24.text-uppercase Halong Bay Cruise Packages

block sub-banner
    .sub-banner.bg-default
        .container
            ul.list-inline
                li.sons
                    span.fa.fa-check
                    |                Our Promises
                    i.fa.fa-caret-right.z_18.text-middle.hidden-lg.hidden-md
                li.son
                    | The best selection
                    strong Top hotels and cruises combined
                li.son
                    | The lowest prices
                    strong We guarantee it!
                li.son
                    | Fast & easy booking
                    strong Booking takes less than 2 minutes

block content
    #container_1.pa-main
        #container_2.container
            #container_3.ar-overview
                #container_4.row
                    #container_5.col-md-9
                        .pa-header
                            h2.title24
                                | Halong Bay
                                strong.inline-block.c07.z_16 8 packages found
                        .pa-body
                            #result.pa-media
                                .media.bg-default
                                    a.pull-left.block(href='/tour-package/sofitel-legend-metropole-paradise-luxury-cruise.html')
                                        img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/tour/admin/2016/07/sofitel-legend-metropole_6_small.jpg', alt='Luxury Duo: Sofitel Legend Metropole + Paradise Cruise')
                                        span.heart-o.inline-block.text-center.hidden-xs(onclick="wishlist(20,'tour');return false;")
                                    .media-body
                                        h5.media-heading.text-bold.z_16.f_hn
                                            a(href='/tour-package/sofitel-legend-metropole-paradise-luxury-cruise.html') Luxury Duo: Sofitel Legend Metropole + Paradise Cruise
                                        .rate-address
                                            label.rate-1
                                                span(style='width: 100%;')
                                            address.inline-block.c2a.text-middle.hidden-xs
                                                i.fa.fa-map-marker.c9
                                                |  Hanoi, Halong Bay
                                        p.hidden-xs
                                            | Enjoy the best deal by booking our top-seller combo: Sofitel Legend Metropole + Paradise Luxury Cruise and save up to 30% compared with booking separately.2
                                        ul.media-info
                                            li
                                                i.fa.fa-clock-o
                                                strong Duration:
                                                |  4 days
                                            li.dot.hidden-xs ●
                                            li.hidden-xs
                                                strong Combo:
                                                i.fa.fa-hotel
                                                |  +
                                                i.fa.fa-ship
                                        .media-price.text-right
                                            p.c07.hidden-xs From USD
                                            p
                                                sup.text-bold.z_14 $
                                                b.inline-block.text-middle 690
                                                span.inline-block.z_10.text-middle.text-left.hidden-xs
                                                    span.block AVG
                                                    span.block PP
                                .media.bg-default
                                    a.pull-left.block(href='/tour-package/family-getaway--somerset-grand-hotel-orchid-cruise.html')
                                        img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/tour/admin/2017/04/Somerset-7_small.jpg', alt='Family Getaway: Somerset Hotel + Orchid Cruise')
                                        span.heart-o.inline-block.text-center.hidden-xs(onclick="wishlist(21,'tour');return false;")
                                    .media-body
                                        h5.media-heading.text-bold.z_16.f_hn
                                            a(href='/tour-package/family-getaway--somerset-grand-hotel-orchid-cruise.html') Family Getaway: Somerset Hotel + Orchid Cruise
                                        .rate-address
                                            label.rate-1
                                                span(style='width: 100%;')
                                            address.inline-block.c2a.text-middle.hidden-xs
                                                i.fa.fa-map-marker.c9
                                                |  Hanoi
                                        p.hidden-xs
                                            | Enjoy a great family getaway with our best selling package: Somerset Grand Hotel and Orchid Cruise.
                                        ul.media-info
                                            li
                                                i.fa.fa-clock-o
                                                strong Duration:
                                                |  4 days
                                            li.dot.hidden-xs ●
                                            li.hidden-xs
                                                strong Combo:
                                                i.fa.fa-hotel
                                                |  +
                                                i.fa.fa-ship
                                        .media-price.text-right
                                            p.c07.hidden-xs From USD
                                            p
                                                sup.text-bold.z_14 $
                                                b.inline-block.text-middle 360
                                                span.inline-block.z_10.text-middle.text-left.hidden-xs
                                                    span.block AVG
                                                    span.block PP
                                .media.bg-default
                                    a.pull-left.block(href='/tour-package/package-mercure-hotel-aphrodite-cruise.html')
                                        img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/tour/admin/2016/07/Aphrodite_2_small.jpg', alt='Summer Sizzling Deal: Mercure Hotel + Aphrodite Cruise')
                                        span.heart-o.inline-block.text-center.hidden-xs(onclick="wishlist(19,'tour');return false;")
                                    .media-body
                                        h5.media-heading.text-bold.z_16.f_hn
                                            a(href='/tour-package/package-mercure-hotel-aphrodite-cruise.html') Summer Sizzling Deal: Mercure Hotel + Aphrodite Cruise
                                        .rate-address
                                            label.rate-1
                                                span(style='width: 80%;')
                                            address.inline-block.c2a.text-middle.hidden-xs
                                                i.fa.fa-map-marker.c9
                                                |  Hanoi, Halong Bay
                                        p.hidden-xs
                                            | Enjoy Hanoi and Halong Bay with stays to remember: a combination of elegance and luxury at Mercure La Gare Hanoi and Aphrodite Cruise.
                                        ul.media-info
                                            li
                                                i.fa.fa-clock-o
                                                strong Duration:
                                                |  4 days
                                            li.dot.hidden-xs ●
                                            li.hidden-xs
                                                strong Combo:
                                                i.fa.fa-hotel
                                                |  +
                                                i.fa.fa-ship
                                        .media-price.text-right
                                            p.c07.hidden-xs From USD
                                            p
                                                sup.text-bold.z_14 $
                                                b.inline-block.text-middle 260
                                                span.inline-block.z_10.text-middle.text-left.hidden-xs
                                                    span.block AVG
                                                    span.block PP
                                .media.bg-default
                                    a.pull-left.block(href='/tour-package/signature-cruise-package.html')
                                        img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/tour/admin/2016/10/ogallerypremierhotel_2_small.jpg', alt="Signature Cruise + O'Gallery Premier Hotel")
                                        span.heart-o.inline-block.text-center.hidden-xs(onclick="wishlist(15,'tour');return false;")
                                    .media-body
                                        h5.media-heading.text-bold.z_16.f_hn
                                            a(href='/tour-package/signature-cruise-package.html') Signature Cruise + O'Gallery Premier Hotel
                                        .rate-address
                                            label.rate-1
                                                span(style='width: 80%;')
                                            address.inline-block.c2a.text-middle.hidden-xs
                                                i.fa.fa-map-marker.c9
                                                |  Hanoi, Halong Bay
                                        p.hidden-xs
                                            | Splurge in Hanoi boutique hotel O'Gallery Premier Hotel in central Hanoi and an exciting trip to Halong Bay on Halong Signature Cruise.
                                        ul.media-info
                                            li
                                                i.fa.fa-clock-o
                                                strong Duration:
                                                |  4 days
                                            li.dot.hidden-xs ●
                                            li.hidden-xs
                                                strong Combo:
                                                i.fa.fa-hotel
                                                |  +
                                                i.fa.fa-ship
                                        .media-price.text-right
                                            p.c07.hidden-xs From USD
                                            p
                                                sup.text-bold.z_14 $
                                                b.inline-block.text-middle 285
                                                span.inline-block.z_10.text-middle.text-left.hidden-xs
                                                    span.block AVG
                                                    span.block PP
                                .media.bg-default
                                    a.pull-left.block(href='/tour-package/luxury-at-its-best--paradise-cruise-sheraton-hotel.html')
                                        img(src='https://halongbay-m4htahr3pzs8oxbgi8.stackpathdns.com/upload/tour/admin/2016/07/Paradise_Luxury_Cruise_12_small.jpg', alt='Luxury at its best: Paradise Cruise + Sheraton Hotel')
                                        span.heart-o.inline-block.text-center.hidden-xs(onclick="wishlist(17,'tour');return false;")
                                    .media-body
                                        h5.media-heading.text-bold.z_16.f_hn
                                            a(href='/tour-package/luxury-at-its-best--paradise-cruise-sheraton-hotel.html') Luxury at its best: Paradise Cruise + Sheraton Hotel
                                        .rate-address
                                            label.rate-1
                                                span(style='width: 100%;')
                                            address.inline-block.c2a.text-middle.hidden-xs
                                                i.fa.fa-map-marker.c9
                                                |  Hanoi, Halong Bay
                                        p.hidden-xs
                                            | Don't miss this great opportunity to experience the very best of Hanoi and Halong Bay: Sheraton Hotel facing the West Lake and cruise with Paradise Junks.
                                        ul.media-info
                                            li
                                                i.fa.fa-clock-o
                                                strong Duration:
                                                |  3 days
                                            li.dot.hidden-xs ●
                                            li.hidden-xs
                                                strong Combo:
                                                i.fa.fa-hotel
                                                |  +
                                                i.fa.fa-ship
                                        .media-price.text-right
                                            p.c07.hidden-xs From USD
                                            p
                                                sup.text-bold.z_14 $
                                                b.inline-block.text-middle 350
                                                span.inline-block.z_10.text-middle.text-left.hidden-xs
                                                    span.block AVG
                                                    span.block PP
                            .pa-more.text-center
                                input#perpage(type='hidden', value='5')
                                input#show-number(type='hidden', name='show-number', value='10')
                                input#tour-number(type='hidden', name='tour-number', value='8')
                                a.btn.text-bold.show-more
                                    | Show More (
                                    span#count_after 3
                                    | )
                                    i.fa.fa-chevron-down
                            .pa-note.lh24
                                | Most trips to Halong Bay will start with one or two night stay in Hanoi. Why not take advantage of our super special package
                                | that includes hotel stay in the charming capital and a cruise trip to Halong Bay. Our package is an unbeatable option if you
                                | are visiting this part of Vietnam. If you have some other hotels than those listed on our website, let us know too and we
                                | are ready to turn them into a package for you.
                    #container_6.col-md-3.col-3-appendTo
                        .widget-speak.widget.bg-default
                            h4.dropdown-wd-sm Speak to someone who's been there
                            .widget-body.text-center
                                img.img-circle(data-src='holder.js/106x106/auto', alt='Speak with Bluedragon')
                                p
                                    | Need a local advice on your Halong cruise trip? Call us now
                                    b.inline-block +84-946-505-505
                                a.btn.btn-style-1d.z_14.text-bold(href='/contact-us.html')
                                    | Contact Us
                                    i.fa.fa-angle-right
                        .widget.widget-customer.bg-default.widget-dropdown
                            h4.text-center What Our Guests Say
                            .widget-hide-mb
                                .widget-body.text-center
                                    #widget-owl.owl-carousel
                                        .item
                                            img.img-circle(data-src='holder.js/106x106', alt='')
                                            p
                                                em
                                                    | Both the cruise tour and the city tour went great. Could not recommend more about this trip.
                                                    | ...
                                            strong.cus-cm.z_14.inline-block Emily, Canada
                                        .item
                                            img.img-circle(data-src='holder.js/106x106', alt='')
                                            p
                                                em
                                                    | Great trip, friendly guide, very happy with the city tour.
                                                    | ...
                                            strong.cus-cm.z_14.inline-block Michael, Australia
                                        .item
                                            img.img-circle(data-src='holder.js/106x106', alt='')
                                            p
                                                em
                                                    | Hello Sunny
                                                    | We appreciate your sympathy and your work to us.
                                                    | We're back in Brazil, I have ...
                                            strong.cus-cm.z_14.inline-block Vera & Paulo Swarowsky, Brazil
                                        .item
                                            img.img-circle(data-src='holder.js/106x106', alt='')
                                            p
                                                em
                                                    | We had a very pleasant two weeks in Vietnam and a highligth was the Halong Bay trip. It was all ma...
                                            strong.cus-cm.z_14.inline-block David Chapman & Veronica Love, United Kingdom
                                .widget-footer.text-center
                                    a(href='/testimonials.html')
                                        | SEE ALL TESTIMONIALS
                                        i.fa.fa-angle-right
                        .widget-book-us.bg-default.widget-dropdown
                            h4.widget-tit
                                | Why book with us?
                                i.fa.fa-chevron-down.hidden-lg.hidden-md
                            .widget-hide-mb
                                .widget-body
                                    ul.list-check
                                        li All of our tours are best-value guaranteed.
                                        li We're here 24/7 - for travel support.
                                        li
                                            | All of our tour guides and travel consultants are local, well trained and experienced to ensure your satisfaction.
                                        li Simple booking process - instant confirmation.

